<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
            <h4>Mes parcs</h4>
            <div class="card green white-text">
                <div class="card-content">
                    Sélectionnez un parc sur la carte pour le mettre dans vos favoris
                </div>
            </div>
        </div>

        <div class="row">
            <h4>Carte</h4>
            <div class="card">
                <div class="card-content" id="map">
                </div>
            </div>
        </div>
    </div>
</div>
